{% extends "index.html" %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="healthForm" method="post" action="/guardar_info_salud"
                    class="rounded p-4 mt-5 shadow-lg p-3 mb-5 bg-body-tertiary" style="background-color: #ffffff;">
                    <p style="font-family: 'Leckerli One', system-ui; font-size: 40px;" class="text-center">Actualizar Información de Salud</p>
                    <p style="font-family: 'Delius', system-ui; font-size: 18px;" class="text-center">Actualiza tus datos para ayudarte en tu objetivo de salud</p>
                    <hr>

                    <div class="container mt-4">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ 'danger' if category == 'error' else 'success'}} alert-dismissible fade show"
                            role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>

                    <div class="row">
                        <h1 style="font-family: 'Leckerli One', system-ui; font-size: 30px;" class="text-center">Información Física</h1>
                        <div class="col-6 mb-3">
                            <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="number" class="form-control" name="altura_cm" placeholder="Altura (cm)" required
                                value="{{ request.form.get('altura_cm','') }}" step="0.01">
                        </div>
                        <div class="col-6 mb-3">
                            <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="number" class="form-control" name="peso_actual_kg" placeholder="Peso actual (kg)" required
                                value="{{ request.form.get('peso_actual_kg','') }}" step="0.01">
                        </div>
                        
                        <div class="col-16 mb-3">
                            <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="number" class="form-control" name="peso_objetivo_kg" placeholder="Peso objetivo (kg)" required
                                value="{{ request.form.get('peso_objetivo_kg','') }}" step="0.01">
                        </div>
                    </div>

                    <hr>

                    <div class="mb-3">
                        <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Nivel de actividad</label>
                        <select class="form-select rounded-pill" name="nivel_actividad" style="font-family: 'Delius', system-ui; font-size: 18px;" required>
                            <option value="">Selecciona una opción</option>
                            <option value="sedentario" >Sedentario</option>
                            <option value="ligero" >Ligero</option>
                            <option value="moderado" >Moderado</option>
                            <option value="activo" >Activo</option>
                            <option value="muy_activo" >Muy activo</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Objetivo de salud</label>
                        <select class="form-select rounded-pill" name="objetivo_salud" style="font-family: 'Delius', system-ui; font-size: 18px;" required>
                            <option value="">Selecciona tu objetivo</option>
                            <option value="perder_peso" >Perder peso</option>
                            <option value="mantener_peso" >Mantener peso</option>
                            <option value="ganar_musculo" >Ganar músculo</option>
                            <option value="mejorar_salud" >Mejorar salud</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Meta semanal</label>
                        <select class="form-select rounded-pill" name="meta_semanal" style="font-family: 'Delius', system-ui; font-size: 18px;" required>
                            <option value="">Selecciona tu meta</option>
                            <option value="perder_0.5kg" {% if request.form.get("meta_semanal") == "perder_0.5kg" %}selected{% endif %}>Perder 0.5 kg</option>
                            <option value="perder_1kg" {% if request.form.get("meta_semanal") == "perder_1kg" %}selected{% endif %}>Perder 1 kg</option>
                            <option value="mantener" {% if request.form.get("meta_semanal") == "mantener" %}selected{% endif %}>Mantener</option>
                            <option value="ganar_0.5kg" {% if request.form.get("meta_semanal") == "ganar_0.5kg" %}selected{% endif %}>Ganar 0.5 kg</option>
                            <option value="ganar_1kg" {% if request.form.get("meta_semanal") == "ganar_1kg" %}selected{% endif %}>Ganar 1 kg</option>
                        </select>
                    </div>

                        <div class="mb-3">
                            <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Condiciones Medicas:</label>
                            <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="text" class="form-control" name="condiciones_medicas" placeholder="Condiciones medicas que presentes"
                                value="{{ request.form.get('condiciones_medicas','') }}">
                        </div>
                        <div class="mb-3">
                            <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Medicamentos:</label>
                            <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="text" class="form-control" name="medicamentos" placeholder="Medicamentos"
                                value="{{ request.form.get('medicamentos','') }}">
                        </div>
                        <div class="mb-3">
                            <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Alergias:</label>
                            <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="text" class="form-control" name="alergias_alimentarias" placeholder="Alergias"
                                value="{{ request.form.get('alergias_alimentarias','') }}">
                        </div>
                        <div class="mb-3">
                        <label style="font-family: 'Leckerli One', system-ui; font-size: 20px;" class="form-label">Preferencias alimenticias:</label>
                        <select class="form-select rounded-pill" name="preferencias_alimentarias" style="font-family: 'Delius', system-ui; font-size: 18px;">
                            <option value="vegetariano">Vegetariano</option>
                            <option value="vegano">Vegano</option>
                            <option value="sin_gluten">Sin gluten</option>
                            <option value="sin_lactosa">Sin lactosa</option>
                            <option value="bajo_carbohidratos">Bajo carbohidratos</option>
                            <option value="keto">Keto</option>
                            <option value="paleo">Paleo</option>
                            <option value="mediterraneo">Mediterráneo</option>
                        </select>
                    </div>

                    <button style="background-color:#707298; font-family: 'Leckerli One', system-ui; font-size: 25px;" type="submit" class="btn btn-light w-100">Guardar Información</button>
                    <hr>
                </form>
            </div>
        </div>
    </div>

{% endblock %}