{% extends "index.html" %}
{% block content %}

<div class="container mt-5">
  <div class="row">

    <!-- tarjeta perfil usuario -->
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg p-4" style="border-radius: 20px;">
        <h2 class="text-center mb-4" style="font-family: 'Leckerli One', cursive;">Perfil del Usuario:</h2>
        <hr>

        {% if usuario %}
            <p><strong>Nombre:</strong> {{ usuario[3] }}</p>
            <p><strong>Apellido Paterno:</strong> {{ usuario[4] }}</p>
            <p><strong>Apellido Materno:</strong> {{ usuario[5] }}</p>
            <p><strong>Género:</strong> {{ usuario[7] }}</p>
            <p><strong>Correo:</strong> {{ usuario[1] }}</p>
            <p><strong>Fecha de nacimiento:</strong> {{ usuario[6] }}</p>

            <div class="text-center mt-4">
              <a style="font-family: 'Leckerli One';" href="{{ url_for('editarUsuario') }}" class="btn btn-outline-secondary">Editar Informacion</a>
            </div>

        {% else %}
            <div class="alert alert-warning text-center">
                No se encontró información del usuario.
            </div>
        {% endif %}

        <div class="text-center mt-4">
          <a style="font-family: 'Leckerli One';" href="{{ url_for('inicio') }}" class="btn btn-outline-secondary">Volver al inicio</a>
        </div>
      </div>
    </div>

    <!-- tarjeta datos de salud-->
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg p-4" style="border-radius: 20px;">
        <h2 class="text-center mb-4" style="font-family: 'Leckerli One', cursive;">Datos de Salud</h2>
        <hr>

        {% if salud %}
          <p><strong>Altura:</strong> {{ salud[2] }} cm</p>
          <p><strong>Peso Actual:</strong> {{ salud[3] }} kg</p>
          <p><strong>Peso Objetivo:</strong> {{ salud[4] }} kg</p>
          <p><strong>Nivel de actividad:</strong> {{ salud[5] }}</p>
          <p><strong>Objetivo de salud:</strong> {{ salud[6] }}</p>
          <p><strong>Meta semanal:</strong> {{ salud[7] }}</p>
          <p><strong>Condiciones médicas:</strong> {{ salud[8] }}</p>
          <p><strong>Medicamentos:</strong> {{ salud[9] }}</p>
          <p><strong>Alergias alimentarias:</strong> {{ salud[10] }}</p>
          <p><strong>Preferencias alimenticias:</strong> {{ salud[11] }}</p>
        {% else %}
            <div class="alert alert-warning text-center">
                Aún no has registrado tus datos de salud.
            </div>
        {% endif %}

        <div class="text-center mt-4">
          <a style="font-family: 'Leckerli One';" href="{{ url_for('formSalud') }}" class="btn btn-outline-secondary">Actualizar datos</a>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}
