{% extends "index.html" %}

{% block content %}
<div class="container py-5">
    <p class="text-center mb-4" style="font-family: 'Leckerli One', system-ui; font-size: 48px;">{{ food.description }}</p>
    <p class="text-center text-muted" style="font-family: 'Leckerli One', system-ui; font-size: 40x;">FDC ID: {{ food.fdcId }}</p>

    <h3 class="mt-4" style="font-family: 'Leckerli One', system-ui;">Información nutricional:</h3>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th style="font-family: 'Delius', system-ui; font-size: 18px;">Nutrientes</th>
                <th style="font-family: 'Delius', system-ui; font-size: 18px;">Cantidad</th>
                <th style="font-family: 'Delius', system-ui; font-size: 18px;">Unidad</th>
            </tr>
        </thead>
        <tbody>
            {% for nutrient in food.nutrients %}
            <tr>
                <td style="font-family: 'Delius', system-ui; font-size: 18px;">{{ nutrient.name }}</td>
                <td style="font-family: 'Delius', system-ui; font-size: 18px;">{{ nutrient.amount }}</td>
                <td style="font-family: 'Delius', system-ui; font-size: 18px;">{{ nutrient.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a style="font-family: 'Leckerli One';" href="{{ url_for('alimentos') }}" class="btn btn-outline-secondary">Volver a buscar</a>
    </div>
</div>
{% endblock %}
