{% extends "index.html" %} {% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form method = "POST" action= "/validalogin" class="rounded p-4 mt-5 shadow-lg p-3 mb-5 bg-body-tertiary"  style="background-color: #ffffff;">
                    <h1 class="text-center" style="font-family: 'Leckerli One', system-ui; font-size: 40px;">Inicio de sesión</h1>
                    <div class="text-center mb-3">
                        <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="User Icon" width="80">
                    </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ 'danger' if category == 'error' else 'danger'}} alert-dismissible-fade-show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    <div class="mb-3">
                        <label for="email" class="form-label" style="font-family: 'Delius', system-ui; font-size: 18px;">Correo Electronico</label>
                        <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="email" class="form-control" id="email" name= "email" placeholder="Introduce tu Correo" style="font-family: 'Caveat', system-ui; font-size: 18px" value= "{{ request.form.email if request.form}}"required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label" style="font-family: 'Delius', system-ui; font-size: 18px;">Contraseña</label>
                        <input style="font-family: 'Delius', system-ui; font-size: 18px;" type="password" class="form-control" id="password" name= "password" placeholder="Introduce tu Contraseña" style="font-family: 'Delius', system-ui; font-size: 18px;" required>
                    </div>

                    <button type="submit" class="btn btn-light w-100" style="background-color:#707298; font-family: 'Leckerli One', system-ui; font-size: 30px;">Inicia Sesión</button>

                    <p class="text-center mt-3 mb-0">
                        <a href="http://127.0.0.1:5000/registro" class="text-black text-decoration-none" style="font-family: 'Delius', system-ui; font-size: 18px;">Crea una nueva cuenta</a>
                    </p>
                </form>
            </div>
        </div>
    </div>


    {% endblock %}